*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    /* scroll-behavior: smooth; */
    /* overflow: hidden; */
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
}
.nav-main{
    height: 100vh;
    background:black;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2% 10% 0% 10%;
    margin: 0px;
}
.logo{
    color: white;
    font-size: 25px;
}
.logo span{
    color:burlywood;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    /* font-weight: bold; */
}
nav ul li a:hover{
    color: burlywood;
    transition: .3s;
    -ms-transform-origin-x:scale(3.3);
    cursor: pointer;
}

button:hover{
    transform:scale(1.3);
}

.home-content{
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.home-content div{
    width: 40%;
    /* margin: auto; */
    margin-top: 10%;
    display: inline-block;
}
.home-content .text-content{
    color:white;
    display: absolute;
    margin-left: 15%;
}
.home-content .text-content p{
    font-weight: bold;
    font-size: 52px;
    padding-bottom: 5px;
    padding-top: 40px;
}
.home-content .img-content{
    position: absolute;
    /* float: right; */
    right: 0px;

}
.home-content .img-content img{
    height: 50vh;
    max-width:max-content;
    /* padding-right: 10px; */
    /* right: 0; */
}

/* profile */
.profile-landing{
    background-repeat:no-repeat;
	background-size:cover;
	width: 100%;
	height: 200px;
	background-attachment: fixed;
	background-position: center;
	background-image:url(../images/1230302.jpg);
	opacity:.9;
}
#profile{
    height: 100vh;
    background:white;
    width: 100%;
}
.profile h3{
    margin:2% 10%;
    font-size: 28px;
    font-family: sans-serif;
}
.profile .detail-container{
    width: 100%;
    box-sizing: border-box;
}
.profile .detail-container .profile-details{
    /* width: 20%; */
    margin: 20px;
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

.profile .detail-container .profile-details h4{
    color: black;
    font-size: 18px;
    text-align: center;
    padding-bottom:20px;
    /* margin-right: 80px; */
}

.profile .detail-container .profile-details .image img{
    height: 40vh;
    width: 100%;
    border-radius:15px;
    margin: auto;

}
.profile .detail-container .profile-details .desc-details h4{
    padding-top:20px;
    text-align: center;
    font-weight: lighter;
    /* display:inline-flex; */

}
.profile .detail-container .profile-details .desc-details ul li{
    margin-left: 20px;
}

/* contact */
.contacts-landing{
    background-image:url(../images/bich-tran.jpg);
    background-repeat:no-repeat;
	background-size:cover;
	width: 100%;
	height: 200px;
    opacity:.9;
	background-attachment: fixed;
	background-position: center;
}
#contacts{
    height: 100vh;
    background:white;
    width: 100%;
}

.contact h4{
    margin:2% 10%;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma;;
}
.contact form {
    width: 60%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact form .message{
    padding: 15px;
}
.contact form .message input[type=text], textarea{
    width: 100%;
    padding: 12px 10px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .contact form input[type=submit] {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact form input[type=submit]:hover {
    background-color: burlywood;
    color: black;
  }

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    height: auto;
    width: 100%;
    padding-top: 0px;
    color: #fff;
}
footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer .footer-content .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

footer .footer-content .socials li{
    margin: 0 10px;
}

footer .footer-content .socials a{
    text-decoration: none;
    padding: 5px;
}

footer .footer-content .socials a img{
    width: 50px;
    transition: color .4s ease;
}

footer .footer-content .socials a:hover img{
    cursor: pointer;
}
footer .footer-content .footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .error{
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
  }
  

  



